@charset "UTF-8";

 
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-briefcase:before { content: '💼'; } /* '\1f4bc' */